.sectionbuttonimg {
    width: 168px;
}

.tel-img{
    position:relative;
    width: 240px;
}

.phone-img{
    width: 268px;
}

.tel-img::after {
    content: "";
    display: block;
    position: absolute;
    background: rgb(41,55,240);
    background: linear-gradient(90deg, rgba(41,55,240,1) 0%, rgba(159,26,226,1) 100%);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    border-radius: 50%;
    height: 456px;
    width: 456px;
}

.shape-1 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(-10deg);
    fill: #2937f0;
    bottom: 15%;
    left: 10%;
}

.shape-2 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #2937f0;
    top: 15%;
    right: 10%;
}

.bg-gradient-primary-to-secondary {
    background: linear-gradient(45deg, #2937f0, #9f1ae2) !important;
}

.text-gradient {
    background: -webkit-linear-gradient(#2937f0, #9f1ae2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.icon-feature {
    font-size: 4rem;
}


.secondtel .tel-img::after {
    content: "";
    display: block;
    position: absolute;
    background: rgb(41,55,240);
    background: linear-gradient(90deg, rgba(41,55,240,1) 0%, rgba(159,26,226,1) 100%);
    top: 50%;
    left: 25%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 0;
    border-radius: 50%;
    height: 300px;
    width: 300px;
}

.secondtel .tel-img .shape-3 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    transform: rotate(-10deg);
    fill: #2937f0;
    top: 5%;
    left: 110%;
}


.secondtel .tel-img .shape-4 {
    position: absolute;
    height: 0.75rem;
    width: 0.75rem;
    fill: #2937f0;
    bottom: 15%;
    left: -25%;
}

.device-mockup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.downloadsection {
    position: relative;

    background-image: url(https://demo.onlyjs.com/exercises/bootstrap-mobile-app/assets/img/1500x800.jpg);
    background-size: cover;
    background-position: center;
}

.downloadsection::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.font-alt {
    font-family: "Kanit", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !important;
}

footer a {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

footer p {
    color: rgba(255, 255, 255, 0.5);
}
